
/*body{background-image:url("images/bg.jpg");}*/
hr {color:sienna;}

body
{
    background-color: sienna;
}




/*
body
{
    background-image: url("images/logo.png");
    background-repeat:repeat;
}
*/


p {margin-left:20px;}
h3 {font-family:Noto Serif SC;}
h3 {color:yellow;}
